.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

}



.square {
    background-color: white;
    border: none;
    width: auto;
    height: 70px;
    font-weight: bold;
    border: 1px solid #000;
    font-size: 40px;
    cursor: pointer;
}
.status{
    margin-bottom: 20px;
}

.red{
    color:red
}
.blue {
    color:blue;
}